.tags{
    border-radius: 3px;
    background: #EAEDED;
}
.tags .tagTitle{
    padding: 10px;
    font-size: 16px;
    border-bottom: 1px solid #BDC3C7;
}
.tagsContent{
    padding: 20px 0 10px 10px;
}
.tagsContent a {
    position: relative;
    display: inline-block;
    max-width: 100%;
    height: 24px;
    margin: 0 15px 10px 0;
    line-height: 24px;
    padding: 0 10px 0 20px;
    border-radius: 0 4px 4px 0;
    background: #CBD2D8;
    font-size: 12px;
    color: #13202C;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.tagsContent a.curr,.tagsContent a.curr:hover{
    background: #1ABC9C;
    color: #fff;
    cursor: default;
}

.tagsContent a:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-width: 12px 12px 12px 0;
    border-color: #EAEDED transparent;
    border-style: solid;
}
.tagsContent a:after {
    position: absolute;
    content: '';
    width: 4px;
    height: 4px;
    top: 10px;
    left: 8px;
    border-radius: 100%;
    background: #fff;
}
.tagsContent a:hover{
    background:#7F8B97;
    color: #fff;
}
.tagsContent a span {
    opacity: 0.5;
    padding: 0 0 0 5px;
}

/*文章详情*/
.article {
    margin-bottom: 20px;
    overflow: hidden;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0,0,0,.2);
}
.article .caption {
    text-align: center;
    padding: 4em 1em 1.5em;
}
.caption h1 {
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: .5em;
    font-size: 22px;
}
.caption p {
    color: #34495E;
}

.articleContent {
    padding: 20px;
    font-size: 14px;
    font-family: "Microsoft Yahei";
}
.articleContent img{
    max-width: 100%;
}
.articleContent p {
    line-height: 1.8;
    margin: 1em 0;
    font-size: 16px;
    color: #34495E;
}
.articleContent mark {
    font-family: inherit;
    padding: .2em .4em;
    color: #1ABC9C;
    background-color: #eee;
    border-radius: 4px;
}
.articleContent {
    text-align: left;
}

















