.veItem{
    height: 300px;
    border: 1px solid #eee;
    border-radius: 2px;
    padding: 5px;
    background: #fff;
    display: block;
    margin-bottom: 15px;
}
.veItem .veItemImg{
    width: 100%;
    height: 150px;
}
.veItem .veCaption{
    height: 125px;
    overflow: hidden;
    padding: 10px 0 0 0;
}
.veItem .veCaption h3{
    font-size: 16px;
    color: #1FA67A;
    text-align: center;
    transition: 0.5s;
}
.veItem .veCaption p{
    margin:5px 0;
    line-height: 22px;
    color: #34495E;
    font-size: 14px;
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
}
.veItem:hover .veCaption h3{
    color: #13202C;
}


/*吸附效果box*/
#flubox{
    position: relative;
}
.flowbox{
    background: #fff;
    position:absolute;
    left:0;
    top:0;
    border: 2px solid #2FE2BF;
    display:none;
}